<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POPDecayAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79AB38331D34D4F8006750ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79AB384C1D34D4F9006750ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79AB38571D34D4F9006750ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
